* {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
.background-image {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.container svg {
  height: 100px;
}
.big-space {
  margin-top: 130px;
}
.color-title {
  color: hsl(210, 10%, 33%);
}
.small-space {
  margin-bottom: 40px;
}
.description {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

.button-style {
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 20px 55px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  margin: 15px;
  cursor: pointer;
}
.button-color1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 1px 7px hsl(171, 66%, 44%);
}
.button-color1:hover {
  background-color: hsla(171, 66%, 44%, 0.8);
}
.button-color2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 1px 7px hsl(233, 100%, 69%);
}
.button-color2:hover {
  background-color: hsla(233, 100%, 69%, 0.8);
}
.section1 {
  display: flex;
}
.image-computer {
  background-image: url("/images/image-computer.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 612px;
  height: 466px;
}
.section1-options {
  margin: 50px 0px 0px 50px;
}
.description2 {
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  line-height: 25px;
}
.devices-image {
  background-image: url("/images/image-devices.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 700px;
  height: 400px;
  margin: 0 auto;
}
.section2 {
  display: flex;
  width: 950px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.section2 div {
  margin-right: 50px;
}
.blacklist-icon {
  width: 34px;
  height: 30px;
}
.snippet-icon {
  width: 26px;
  height: 22px;
}
.preview-icon {
  width: 40px;
  height: 22px;
}
.section3 {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}
.logo-google {
  height: 50px;
  margin-right: 80px;
}
.logo-ibm {
  height: 50px;
  margin-right: 80px;
}
.logo-microsoft {
  height: 40px;
  margin-right: 80px;
}
.logo-hp {
  height: 50px;
  margin-right: 80px;
}
.logo-vector-graphics {
  height: 30px;
}
.footer {
  background-color: hsla(201, 11%, 66%, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-footer {
  height: 50px;
}
.links-footer {
  display: flex;
  justify-content: space-between;
}
.links-footer ul li {
  list-style-type: none;
  margin-right: 80px;
}
.links-footer ul li a {
  text-decoration: none;
  font-size: 18px;
  color: hsl(210, 10%, 33%);
  line-height: 40px;
}

.links-footer ul li a:hover {
  color: hsl(171, 66%, 44%);
}
.socialMedia-link {
  text-decoration: none;
}

.socialMedia-logo {
  height: 30px;
  margin-right: 20px;
}
.socialMedia-logo:hover path {
  fill: hsl(171, 66%, 44%);
}

@media screen and (min-width: 640px) {
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 25px;
  }
  .section1-options {
    margin: 0;
  }
  .devices-image {
    width: 620px;
    height: 389px;
  }
  .section1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 {
    width: 600px;
  }
  .section2 div {
    margin-right: 12px;
  }
  .section3 {
    display: flex;
    flex-wrap: wrap;
  }
  .section3 img {
    margin-right: 40px;
  }
  .logo-hp {
    margin-top: 50px;
  }
  .logo-vector-graphics {
    margin-top: 50px;
  }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  .links-footer {
    margin: 25px 0px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
  .section2 {
    width: 700px;
  }
}
/* @media screen and (max-width: 376px) {
  .background-image {
    background-image: url("/images/bg-header-mobile.png");
    height: 600px;
  }
  .container {
    width: 340px;
  }
  .big-title {
    text-align: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .button-style {
    padding: 20px 100px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .image-computer {
    width: 340px;
    height: 258px;
  }

  .devices-image {
    width: 340px;
    height: 222px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
  .logo-google {
    margin-bottom: 80px;
  }
  .logo-ibm {
    margin-bottom: 80px;
  }
  .logo-microsoft {
    margin-bottom: 80px;
  }
  .logo-hp {
    margin-bottom: 80px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .links-footer {
    display: flex;
    flex-direction: column;
  }
  .links-footer ul li {
    margin-bottom: 25px;
  }
  .logo-links {
    display: flex;
    flex-direction: column;
  }
  .socialMedia-section {
    margin-top: 25px;
  }
} */
