* {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
.background-image {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 322px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 600px;
  margin: 0 auto;
}
.container svg {
  width: 70px;
  height: 70px;
}
.big-space {
  margin-top: 60px;
}
.color-title {
  color: hsl(210, 10%, 33%);
}
.small-space {
  margin-bottom: 20px;
}
.description {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}

.button-style {
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 12px;
  margin: 15px;
  cursor: pointer;
}
.button-color1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 1px 7px hsl(171, 66%, 44%);
}
.button-color2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 1px 7px hsl(233, 100%, 69%);
}
.section1 {
  display: flex;
}
.image-computer {
  background-image: url("/images/image-computer.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 530px;
  height: 400px;
}
.section1-options {
  width: 300px;
  margin: 50px 0px 0px 50px;
}
.description2 {
  font-size: 12px;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  line-height: 25px;
}
.devices-image {
  background-image: url("/images/image-devices.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
.section2 {
  display: flex;
  width: 600px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.section3 {
  display: flex;
  margin: 0 auto;
  width: 800px;
  justify-content: center;
  align-items: center;
}
.logo-google {
  width: 100px;
  height: 60px;
  margin-right: 80px;
}
.logo-ibm {
  width: 100px;
  height: 50px;
  margin-right: 80px;
}
.logo-microsoft {
  width: 110px;
  height: 30px;
  margin-right: 80px;
}
.logo-hp {
  width: 110px;
  height: 50px;
  margin-right: 80px;
}
.logo-vector-graphics {
  width: 110px;
  height: 25px;
}
.footer {
  background-color: hsla(201, 11%, 66%, 0.1);
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-footer {
  width: 40px;
  height: 40px;
}
.links-footer {
  display: flex;
  justify-content: space-between;
}
.links-footer ul li {
  list-style-type: none;
  margin-right: 80px;
}
.links-footer ul li a {
  text-decoration: none;
  font-size: 12px;
  color: hsl(210, 10%, 33%);
}

.links-footer ul li a:hover {
  color: hsl(171, 66%, 44%);
}
.socialMedia-link {
  text-decoration: none;
}

.socialMedia-logo {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.socialMedia-logo:hover path {
  fill: hsl(171, 66%, 44%);
}
