* {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
.background-image {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 322px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 600px;
  margin: 0 auto;
}
.container svg {
  width: 70px;
  height: 70px;
}
.big-space {
  margin-top: 60px;
}
.color-title {
  color: hsl(210, 10%, 33%);
}
.small-space {
  margin-bottom: 20px;
}
.description {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}

.button-style {
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 12px;
  margin: 15px;
  cursor: pointer;
}
.button-color1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 1px 7px hsl(171, 66%, 44%);
}
.button-color2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 1px 7px hsl(233, 100%, 69%);
}
.section1 {
  display: flex;
}
.image-computer {
  background-image: url("/images/image-computer.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 530px;
  height: 400px;
}
.section1-options {
  width: 300px;
  margin: 50px 0px 0px 50px;
}
.description2 {
  font-size: 12px;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  line-height: 25px;
}
.devices-image {
  background-image: url("/images/image-devices.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 322px;
  margin: 0 auto;
}
